.proyects{
    padding-bottom: 3%; 
    text-align: center; 
    font-family: 'Silkscreen', cursive;
    text-shadow: 3px 3px 15px rgb(101, 33, 133);
}
@media(max-width: 354px){
    .proyects{
        padding-bottom: 3%; 
        text-align: center; 
        font-family: 'Silkscreen', cursive;
        text-shadow: 3px 3px 15px rgb(101, 33, 133);
        font-size: 150%;
    }
}
.proyectoRow{
    margin-top: 15%;
    padding: 4%;
    background-color: #151d36 ;
    color: white;
}
.container{
    width: auto;
    
}

.parte2{
    margin-bottom: 3%;
}

.editGroupButtoms{
    display: flex;
    flex-direction: row;
    margin-top: 4%;
    justify-content: center;
}
.editButtom{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 5px;
}
.editButtom button{
    width: 27px;
}
i{
    display: flex;
    justify-content: center;
    align-items: center;
}
span a{
    
    color: rgb(200, 196, 250);
}

.proyectName{
    font-family: 'Silkscreen', cursive;
}
.card{
    background-color: #0b0f1b;
    display: flex;
    padding: 4px;
    justify-content: space-between;
    box-shadow: 3px 5px 10px rgb(162, 140, 172);
    position: unset;
}
@media(max-width: 354px){
    .card .header-card h2{
        font-size: 140%;
    }
}


.contentProyects{
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-top: 5%;
}
@media (max-width: 535px) {
    .contentProyects {
      display: flex;
      flex-direction: column;
      align-items: center;
    }
    .itemsProyects{
        display: flex;
        max-width: 50%;
        margin-top: 4%;
        margin-left: 2%;
        margin-right: 2%;
        justify-content: center;
    }
  }
.itemsProyects{
    display: flex;
    max-width: 50%;
    margin-left: 2%;
    margin-right: 2%;
    justify-content: space-around;
}
